## by setting shared-workspace-lockfile to false, we are giving every package it's own lockfile 
## theoretically this keeps the docker build process fast, because `pnpm install` 
## in the build step is only installing npm packages needed for that one package
## 2024-07-11 weirdness occurs where node_modules is not created in each package.
## @see [this issue](https://github.com/pnpm/pnpm/issues/4321)
## this setting may or may not play into the issue. 
shared-workspace-lockfile=false

engine-strict=true
package-manager-strict=true

## Don't use `use-node-version`! It causes redundant Node.js downloads which slows down the docker image build.
## @see https://github.com/orgs/pnpm/discussions/7140
##use-node-version=20.15.1
node-version=20.15.1
recursive-install=true